/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
}

.container {
  text-align: center;
  width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0b69ff;
  font-size: 30px;
  font-family: 'Roboto';
}

.description {
  color: #333333;
  font-size: 18px;
  font-family: 'Roboto';
}

button {
  cursor: pointer;
  outline: none;
  background-color: #0b69ff;
  border-radius: 8px;
  border-width: 0px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  padding: 10px;
}

.number {
  color: #0b69ff;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: bold;
}

@media (max-width: 767px) {
  .bg-container {
    height: 100%;
  }
  .container {
    width: 300px;
    border-radius: 16px;
    padding: 25px;
  }

  .heading {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  button {
    font-size: 13px;
  }

  .number {
    font-size: 33px;
  }
}
